.App {
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  position: absolute;
  padding-left: 10%;
}

h1 {
  text-align: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 2%;
}

.App-body {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 26%;
  padding-top: 3%;
}
